.search-content {
  color: white;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.try-again-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.input-element-container {
  background-color: transparent;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid grey;
  width: 280px;
}

.search-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.input-element {
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .failure-image {
    width: 220px;
  }
}
